[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 10.0

[submodule "account-financial-tools/tree/10.0/account_journal_lock_date"]
	path = account-financial-tools/tree/10.0/account_journal_lock_date
	url = git@github.com:OCA/account-financial-tools.git
	branch = 10.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 10.0
